<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_9.mapper.modelResultMapper">

    <select id="getModelResultByUidAndModelName" resultType="com.cqupt.software_9.entity.modelResult">
        SELECT * FROM modelresult WHERE uid = #{uid} and modelname = #{modelname}
    </select>

    <delete id="removeModelResult" parameterType="map">
    DELETE FROM modelresult
    WHERE uid = #{uid} AND modelname = #{modelname}
  </delete>



</mapper>

