<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_9.mapper.PatientHeartAllMapper">

<!--    <resultMap id="BaseResultMap" type="com.cqupt.software_9.entity.PatientHeartAll">-->
<!--        <id column="id" property="id" jdbcType="INTEGER"/>-->
<!--        <result column="patientId" property="patientId" jdbcType="INTEGER"/>-->
<!--        <result column="name" property="name" jdbcType="VARCHAR"/>-->
<!--        <result column="age" property="age" jdbcType="INTEGER"/>-->
<!--        <result column="gender" property="gender" jdbcType="VARCHAR"/>-->
<!--        <result column="address" property="address" javaType="VARCHAR"/>-->
<!--        <result column="sex" property="sex" jdbcType="INTEGER"/>-->
<!--        <result column="cp" property="cp" jdbcType="INTEGER"/>-->
<!--        <result column="trestbps" property="trestbps" jdbcType="INTEGER"/>-->
<!--        <result column="chol" property="chol" jdbcType="INTEGER"/>-->
<!--        <result column="fbs" property="fbs" jdbcType="INTEGER"/>-->
<!--        <result column="restecg" property="restecg" jdbcType="INTEGER"/>-->
<!--        <result column="thalach" property="thalach" jdbcType="INTEGER"/>-->
<!--        <result column="exang" property="exang" jdbcType="INTEGER"/>-->
<!--        <result column="oldpeak" property="oldpeak" jdbcType="DOUBLE"/>-->
<!--        <result column="slope" property="slope" jdbcType="INTEGER"/>-->
<!--        <result column="ca" property="ca" jdbcType="INTEGER"/>-->
<!--        <result column="thal" property="thal" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        id, patientId, name, age, gender,-->
<!--        address,sex,cp,trestbps,chol,fbs,-->
<!--        restecg,thalach,exang,oldpeak,slope,ca,thal-->
<!--    </sql>-->

    <select id="getAllPatientsHeartAll" resultType="com.cqupt.software_9.entity.PatientHeartAll">
        SELECT * FROM patient_heart_all
    </select>
<!--    <select id="getPatientHeartAllById" resultMap="com.cqupt.software_9.entity.PatientHeartAll">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM patient_heart_all-->
<!--        WHERE id = #{id}-->
<!--    </select>-->

    <insert id="addPatient" >
        INSERT INTO patient_heart_all (patient_id, name, age,address,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal)
        VALUES (#{patientId}, #{name}, #{age},#{address}, #{sex}, #{cp}, #{trestbps},#{chol}, #{fbs}, #{restecg}, #{thalach},#{exang}, #{oldpeak}, #{slope}, #{ca},#{thal})
    </insert>

    <update id="updatePatient" >
        UPDATE patient_heart_all
        SET patient_id = #{patientId}, name = #{name}, age = #{age}, address = #{address}, sex = #{sex}, cp = #{cp}, trestbps = #{trestbps},
        chol = #{chol}, fbs = #{fbs}, restecg = #{restecg}, thalach = #{thalach},
        exang = #{exang}, oldpeak = #{oldpeak}, slope = #{slope}, ca = #{ca},thal=#{thal}
        WHERE id = #{id}
    </update>

    <delete id="deletePatient" >
        DELETE FROM patient_heart_all
        WHERE id = #{id}
    </delete>
</mapper>
